$main-color: skyblue;

body {
  background-color: $main-color;
}

.post-list{
  &__login-btn{
    .root--authed & {
      display: none;
    }
  }

  &__logout-btn, &__new-post-btn {
    display: none;
    .root--authed & {
      display: inline-block;
    }
  }
}

.post-content{
  &__delete-btn, &__modify-btn{
    display: none;
    .root--authed & {
      display: inline-block;
    }
  }
}