$main-color: skyblue;

body {
  background-color: $main-color;
}

.post-list{
  &__login-btn{
    .root--authed & {
      display: none;
    }
  }

  &__logout-btn, &__new-post-btn {
    display: none;
    .root--authed & {
      display: inline-block;
    }
  }
}

.root{
  &--loading{
    &::after{
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: 'Loading...';
      background-color: rgba(0,0,0,0.5);
      color: white;
    }
  }
}
